// =========== COLORS ============= //

// BASE
$color-black: #000;
$color-white: #fff;
$color-gray-main: #f7f7f7;
$color-gray-secondary: #999;
$color-gray-dark: #232323;

// UI
$color-main: #2196F3;
$color-secondary: #1976D2; 

// FONT
$color-text: #333;
